<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sogeti.android.gpstracker.service">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="nl.sogeti.android.gpstracker.permission.TRACKING_CONTROL"
        android:description="@string/permission_control_description"
        android:label="@string/permission_control"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous" />
    <permission
        android:name="nl.sogeti.android.gpstracker.permission.TRACKING_HISTORY"
        android:description="@string/permission_history_description"
        android:label="@string/permission_history"
        android:permissionGroup="android.permission-group.LOCATION"
        android:protectionLevel="dangerous" />

    <application>
        <service
            android:name=".logger.GPSLoggerService"
            android:enabled="true"
            android:exported="true"
            android:permission="nl.sogeti.android.gpstracker.permission.TRACKING_CONTROL"
            android:process=":remote" />

        <provider
            android:name=".db.GPStrackingProvider"
            android:authorities="${providerAuthority}"
            android:enabled="true"
            android:exported="true"
            android:permission="nl.sogeti.android.gpstracker.permission.TRACKING_HISTORY">
            <grant-uri-permission android:pathPrefix="/tracks/" />

            <path-permission
                android:path="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

    </application>

</manifest>
