<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sogeti.android.gpstracker.integration">

    <uses-permission android:name="nl.sogeti.android.gpstracker.permission.TRACKING_CONTROL" />
    <uses-permission android:name="nl.sogeti.android.gpstracker.permission.TRACKING_HISTORY" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
