<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.sogeti.android.gpstracker.v2"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="nl.sogeti.android.gpstracker.ng.common.GpsTrackerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFvI2hkcQYtbOkbN-C3WxN76UZPT_r49M" />

        <activity
            android:name="nl.sogeti.android.gpstracker.ng.track.TrackActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.sogeti.android.gpstracker.ng.tracklist.TrackListActivity"
            android:label="@string/title_activity_tracks"
            android:parentActivityName="nl.sogeti.android.gpstracker.ng.track.TrackActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.sogeti.android.gpstracker.ng.track.TrackActivity" />
        </activity>
        <activity
            android:name="nl.sogeti.android.gpstracker.ng.graphs.GraphsActivity"
            android:label="@string/title_activity_graphs"
            android:parentActivityName="nl.sogeti.android.gpstracker.ng.track.TrackActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="nl.sogeti.android.gpstracker.ng.sharing.GpxShareProvider"
            android:authorities="${applicationId}.gpxshareprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
