<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sogeti.android.opengpstrack.ng.features">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application>
        <activity
            android:name="nl.sogeti.android.gpstracker.ng.features.track.TrackActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter android:label="@string/title_activity_track">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${providerAuthority}"
                    android:mimeType="vnd.android.cursor.item/vnd.nl.sogeti.android.track"
                    android:pathPrefix="/tracks"
                    android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="nl.sogeti.android.gpstracker.ng.features.tracklist.TrackListActivity"
            android:label="@string/title_activity_tracks"
            android:launchMode="singleTask"
            android:parentActivityName="nl.sogeti.android.gpstracker.ng.features.track.TrackActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.sogeti.android.gpstracker.ng.features.track.TrackActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.sogeti.android.gpstracker.ng.features.graphs.GraphsActivity"
            android:label="@string/title_activity_graphs"
            android:parentActivityName="nl.sogeti.android.gpstracker.ng.features.track.TrackActivity"
            android:theme="@style/AppTheme" />

        <provider
            android:name="nl.sogeti.android.gpstracker.ng.features.gpxexport.GpxShareProvider"
            android:authorities="${applicationId}.gpxshareprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name="nl.sogeti.android.gpstracker.ng.features.gpximport.ImportService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="nl.sogeti.android.gpstracker.ng.features.activityrecognition.ActivityRecognizerLoggingBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="nl.sogeti.android.gpstracker.LOGGING_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- region Wear support -->

        <receiver
            android:name="nl.sogeti.android.gpstracker.ng.features.wear.WearLoggingStateBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="nl.sogeti.android.gpstracker.LOGGING_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="nl.sogeti.android.gpstracker.ng.features.wear.PhoneMessageListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:path="/ogt-recordings-status"
                    android:scheme="wear" />
            </intent-filter>
        </service>
        <service
            android:name="nl.sogeti.android.gpstracker.ng.features.wear.WearLoggingService"
            android:exported="false" />

        <!-- end region -->

    </application>

</manifest>

