<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDtVu9cndWJdpmYFmqzh87ISijzchdIALQ" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c2772d3439d60ec6f95d62005c042fab1bad3bd" />
    </application>

</manifest>
